.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.empty-cart {
  text-align: center;
  padding: 50px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

h5, p{
  color: black;
}

h5{
  font-weight: bold;
}