.tour-package-card {
    overflow: hidden;
  }

  .tour-package-card .card-img-top {
    height: 220px;
    object-fit: cover;
  }

  /* Flip Card styles */
  .flip-card {
    background-color: transparent;
    min-height: 420px; /* Adjusted height */
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }

  .flip-card-inner.is-flipped {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .addtocart {
    margin-bottom: 2px;
  }

  .star-rating {
    display: flex;
    cursor: pointer;
  }

  .star {
    font-size: 20px;
    color: #ddd;
    margin: 0 2px;
  }

  .star.filled {
    color: #ffc107;
  }
